.GamePage {

  ul.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px;
    li img {
      width: 5em;
  }
    
  &.active {
      border: 7px dotted red;
    }

    .butom-card{
      cursor: pointer;

      &.isInactive{
        pointer-events: none;
        cursor: not-allowed;
      }
    } 
  
    }
  //buttons
  .namesButton {
    position: absolute;
    right: 2em;
    top: 1.5em;
    border: transparent;
    border-radius: 5px;
    background-color: white;
    padding: 1em;
    color: black;
    cursor: pointer;
    border: 1px solid transparent;
  }

  .namesButton:hover {
    border: 1px solid red;
    color: red;
  }

  .containerButton {
    display: flex;
    margin: 4em;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;

    .Game_player_new_card {
        position: absolute;
        top: 5rem;

        &.right{
          right: 12rem;
        }

        &.left{
          left: 12rem;
        }
    
        .container-img {
          h2 {
            margin: 0px;
          }
    
          img {
            width: 6em;
          }
    
        }
    
        .container-buttoms-new-card {
          display: flex;
          justify-content: center;
          align-items: center;
    
          .buttom-new-card {
            width: 80px;
            height: 30px;
            cursor: pointer;
            background: gray;
            border: 1px solid #91c9ff;
            outline: none;
            transition: 1s ease-in-out;
            color: white;
            margin: 3px;
          }
    
          .buttom-new-card:nth-child(1):hover {
            transition: 1s ease-in-out;
            background: black;
          }

          .buttom-new-card:nth-child(2):hover {
            transition: 1s ease-in-out;
            background: red;
          }
        }
    
      }
  }

  .center {
    width: 180px;
    height: 60px;
    background-color: gray;
    position: absolute;
  }

  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91c9ff;
    outline: none;
    transition: 1s ease-in-out;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }

  .btn:hover {
    transition: 1s ease-in-out;
    background: #4f95da;
  }

  .btn:hover svg {
    stroke-dashoffset: -480;
  }

  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
}
