.GamePage {
  //buttons
  .namesButton {
    position: absolute;
    right: 2em;
    top: 1.5em;
    border: transparent;
    border-radius: 5px;
    background-color: white;
    padding: 1em;
    color: black;
    cursor: pointer;
  }

  .containerButton {
    display: flex;
    margin: 4em;
    justify-content: center;
    align-items: center;
  }

  .center {
    width: 180px;
    height: 60px;
    background-color: gray;
    position: absolute;
  }

  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91c9ff;
    outline: none;
    transition: 1s ease-in-out;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }

  .btn:hover {
    transition: 1s ease-in-out;
    background: #4f95da;
  }

  .btn:hover svg {
    stroke-dashoffset: -480;
  }

  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
}
